body{
	width: 33%;
}

#res{
	background: lightgray;
	border: solid black 0.1rem;
	height: 48px;
	font-size: 20px;
}

button{
	width: 25%;
	height: 36px;
	font-size: 18px;
	margin: 0px;
	float: left;
}

.first-line button:nth-child(-n+2){
	background: lightgreen;
	color: brown;
}

.first-line button{
	background: darkgreen;
	color: white;
}

.second-line button{
	background: black;
	color: red;
}